<header class="header">
    <a href="./" class="logo">
        Zona de Lirio
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="{{ url_for('public.biblioteca') }}">Biblioteca</a></li>
        <li><a href="#">Nosotros</a></li>
        {% if user_logged_in %}
    
        {% endif %}
        <!-- Barra de búsqueda -->
        <li>
            <div class="input-container">
                <input type="text" name="query" class="search-input" placeholder="Buscar...">
                <i class="bi bi-search"></i>
            </div>
        </li>



        {% if user_logged_in %}
        <li><a href="{{ url_for('public.logout') }}"><i class="bi bi-box-arrow-right"></i></a></li>
        {% if user_role == 1 or user_role == 2 %}
        <li><a href="{{ url_for('admin.admin') }}"><i class="bi bi-gear"></i> </a></li>
        {% endif %}
        {% else %}
        <li><a href="{{ url_for('public.login') }}"><i class="bi bi-person-circle"></i></a></li>
        {% endif %}
    </ul>
</header>