<header class="header">
    <a href="{{ url_for('public.inicio') }}" class="logo">Zona de Lirio</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="{{ url_for('admin.admin') }}"><i class="bi bi-house-door"></i>Inicio</a></li>
        <li><a href="{{ url_for('admin.admin_perfil') }}"><i class="bi bi-person"></i></i>Perfil</a></li>
        <li><a href="{{ url_for('projects.formAddProjects') }}"><i class="bi bi-journal"></i></i>Biblioteca</a></li>
        <li><a href="{{ url_for('admin.admin_afiliados') }}"><i class="bi bi-share"></i>Afiliados</a></li>
        <li><a href="{{ url_for('admin.admin_usuarios') }}"><i class="bi bi-people"></i></i>Usuarios</a></li>
        <li><a href="{{ url_for('public.logout') }}"><i class="bi bi-box-arrow-right"></i>Cerrar sesión</a></li>
    </ul>
</header>