form {
    background-color: #2c3338;
    padding: 2rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    z-index: 1000;
}


.form-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    background-color: #3b4148;
    color: #dbdbdb;
    border: 1px solid #2c3338;
    box-sizing: border-box;
}

/* Estilos para el botón de envío */
.btn-custom {
    background-color: #64c2fd;
    /* Color similar al de btn-info de Bootstrap */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#fileInputs {
    margin-top: 10px;
}

/* Estilos para el botón al pasar el ratón por encima */
.btn-custom:hover {
    background-color: #488cb6;
}

/* Estilos para el mensaje de alerta */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
}

