.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.head a {
    background-color: #64c2fd;
    border-color: #488cb6;
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: #f0f0f0;
    margin-right: 30px;
}

.head a:hover {
    background-color: #488cb6;
    color: #f0f0f0;
}


.img-cover {
    width: 150px;
    height: 200px;
}

.table-custom th,
.table-custom td {
    border-width: 2px;
}

.proceso {
    color: rgb(255, 180, 30);
}

.finalizado {
    color: rgb(55, 214, 55);
}

.error {
    color: rgb(198, 50, 50);
}



.btn-send {
    background-color: #64c2fd;
    border-color: #488cb6;
    margin-top: 1rem;
}

.btn-send:hover {
    background-color: #2d6081;
    border-color: #204156;
}


.table a {
    text-decoration: none;
    color: white;
}

