{% extends 'admin/home.html' if is_admin else 'public/main/home.html' %}

{% block extra_css %}
{% if is_admin %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/private/details.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/details.css') }}">
{% endif %}
{% endblock %}




{% block body %}
<header class="cont-details">
    <div class="portada">
        <img src="{{ url_for('static', filename='assets/portadas/' ~ project.covered) }}" alt="{{ project.name }}">
    </div>
    <div class="contenido">
        <div class="name">{{ project.name }}</div>
        <div class="secondary_name">{{ project.secondary_name }}</div>
        <div class="description">
            <p class="titulos">Sinopsis de <span>{{ project.name }}</span></p>
            {{ project.description }}
        </div>
        <div class="categories">
            <p class="titulos">Categorías</p>
            <!-- Aquí puedes agregar categorías si las tienes -->
        </div>
    </div>
</header>

<div class="main-container">
    <aside class="cont-info">
        <div class="info">
            <div class="status info-data">
                <p class="titulos-2">Estado: </p>
                {% if project.status == 1 %}
                En Proceso
                <i class="bi bi-clock-fill"></i>
                {% elif project.status == 2 %}
                Finalizado
                <i class="bi bi-check-circle-fill"></i>
                {% else %}
                Desconocido
                <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </div>
            <div class="info-data">
                <p class="titulos-2">Autor: </p>
                <span>{{ project.author }}</span>
            </div>
            <div class="info-data">
                <p class="titulos-2">Publicado por: </p>
                <span>{{ project.published_by }}</span>
            </div>
            <div class="info-data">
                <p class="titulos-2">Publicación: </p>
                <span>{{ project.created_at }}</span>
            </div>
            <div class="info-data">
                <p class="titulos-2">Actualización: </p>
                {{ project.updated_at }}
            </div>
            <div class="info-data">
                <p class="titulos-2">Tipo: </p>
                {{ project.type }}
            </div>
            <div class="info-data">
                <p class="titulos-2">Clasificación: </p>
                {{ project.rating }}
            </div>
        </div>
    </aside>

    <section class="cont-chapters">
        <div class="cont-chapters-title">
            <h1>Capítulos</h1>
            {% if is_admin %}
            <div class="btns">
                <a class="btn-eliminar" href="{{ url_for('projects.add_chapter', id=project['project_id']) }}"><i
                        class="bi bi-trash"></i>Eliminar
                    capítulo</a>
                <a class="btn-editar" href="{{ url_for('projects.add_chapter', id=project['project_id']) }}"><i
                        class="bi bi-pencil-square"></i>Editar
                    capítulo</a>
                <a class="btn-subir" href="{{ url_for('projects.add_chapter', id=project['project_id']) }}"><i
                        class="bi bi-plus-lg"></i> Subir
                    capítulo</a>
            </div>
            {% endif %}
        </div>
        <div class="navigation-buttons">
            {% if first_chapter %}
            <a
                href="{{ url_for('projects.chapter_details', project_id=project.project_id, chapter_number=first_chapter.number) }}">
                Primer capítulo
                <p>Capítulo {{ first_chapter.number }}</p>
            </a>
            {% else %}
            <a href="#" class="disabled">Primer capítulo</a>
            {% endif %}

            {% if last_chapter %}
            <a
                href="{{ url_for('projects.chapter_details', project_id=project.project_id, chapter_number=last_chapter.number) }}">
                Último capítulo
                <p>Capítulo {{ last_chapter.number }}</p>
            </a>
            {% else %}
            <a href="#" class="disabled">Último capítulo</a>
            {% endif %}
        </div>

        <div class="chapters">
            {% for capitulo in lista_cap %}
            <article class="cards">
                <a
                    href="{{ url_for('projects.chapter_details', project_id=project.project_id, chapter_number=capitulo.number) }}">
                    <h6>Capítulo {{ capitulo.number }}</h6>
                    <p>{{ capitulo.date }}</p>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}